*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
h1 {
  font-family: monospace;
  font-size: 4rem;
  text-align: center;
}

#blue {
  visibility: hidden;
}
#pink {
  visibility: hidden;
}
#green {
  visibility: hidden;
}

#heading-div {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding-left: 225px;
  padding-right: 225px;
}
#square1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
  font-family: monospace;
  width: 300px;
  height: 300px;
  background-color: aqua;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}
#square2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
  font-family: monospace;
  width: 300px;
  height: 300px;
  background-color: pink;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}
#square3 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: xx-large;
  font-family: monospace;
  width: 300px;
  height: 300px;
  background-color: rgb(67, 226, 43);
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  border-radius: 5px;
  text-align: center;
}

.main {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.colors {
  display: flex;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#btn-blue {
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
  font-size: x-large;
  background-color: rgb(63, 152, 152);
  color: white;
  border: none;
}
#btn-blue:hover {
  cursor: pointer;
}
#btn-pink {
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
  font-size: x-large;
  background-color: rgb(63, 152, 152);
  color: white;
  border: none;
}
#btn-pink:hover {
  cursor: pointer;
}
#btn-green {
  border-radius: 5px;
  padding: 10px;
  font-family: monospace;
  font-size: x-large;
  background-color: rgb(63, 152, 152);
  color: white;
  border: none;
}
#btn-green:hover {
  cursor: pointer;
}
